 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 174px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(75,47,238,0.5);
  width: 513px;
  margin: 95px auto 26px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 39px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2340px;
}

.u-section-2 .u-accordion-1 {
  width: 800px;
  margin: 0 auto 49px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 1206px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-gallery-2 {
  height: 1206px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-gallery-3 {
  height: 1204px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-21 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-22 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-4 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-gallery-4 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-23 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-24 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-25 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-26 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-5 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-gallery-5 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-27 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-27 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-28 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-28 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-6 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-gallery-6 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-29 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-29 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-30 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-30 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-31 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-31 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-32 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-32 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-33 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-33 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-34 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-34 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-35 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-35 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-7 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-gallery-7 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-36 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-36 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-37 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-37 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-38 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-38 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-39 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-39 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-40 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-40 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-41 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-41 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-42 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-42 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-7 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-37 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-38 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-39 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-40 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-41 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-42 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-13 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-14 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-8 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-gallery-8 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-43 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-43 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-44 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-45 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-45 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-46 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-46 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-47 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-47 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-48 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-48 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-49 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-49 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-8 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-43 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-44 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-45 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-46 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-47 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-48 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-49 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-15 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-16 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-9 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-gallery-9 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-50 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-50 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-51 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-51 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-52 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-52 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-53 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-53 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-54 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-54 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-55 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-55 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-56 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-56 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-57 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-57 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-9 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-50 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-51 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-52 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-53 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-54 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-55 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-56 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-57 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-17 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-18 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-10 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-gallery-10 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-58 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-58 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-59 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-59 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-60 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-60 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-58 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-59 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-60 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-19 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-20 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-11 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-11 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-gallery-11 {
  height: 1227px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-61 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-61 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-62 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-62 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-63 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-63 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-64 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-64 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-65 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-65 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-66 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-66 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-67 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-67 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-68 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-68 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-69 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-69 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-11 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-61 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-62 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-63 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-64 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-65 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-66 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-67 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-68 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-69 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-21 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-22 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-item-12 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-12 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-2 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 1240px;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-gallery-12 {
  height: 1224px;
  margin-top: 0;
  margin-bottom: -44px;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-70 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-70 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-71 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-71 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-72 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-72 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-73 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-73 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-12 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-2 .u-carousel-thumbnail-70 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-71 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-72 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-thumbnail-73 {
  width: 100px;
  height: 150px;
}

.u-section-2 .u-carousel-control-23 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-24 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-carousel-thumbnail-1 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-50 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-51 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-52 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-53 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-54 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-55 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-56 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-57 {
    width: 91px;
    height: 137px;
  }

  .u-section-2 .u-carousel-thumbnail-61 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-62 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-63 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-64 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-65 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-66 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-67 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-68 {
    width: 80px;
    height: 120px;
  }

  .u-section-2 .u-carousel-thumbnail-69 {
    width: 80px;
    height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 63px;
    height: 95px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-47 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-48 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-49 {
    width: 94px;
    height: 141px;
  }

  .u-section-2 .u-carousel-thumbnail-50 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-51 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-52 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-53 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-54 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-55 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-56 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-57 {
    width: 81px;
    height: 122px;
  }

  .u-section-2 .u-carousel-thumbnail-61 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-62 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-63 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-64 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-65 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-66 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-67 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-68 {
    width: 71px;
    height: 107px;
  }

  .u-section-2 .u-carousel-thumbnail-69 {
    width: 71px;
    height: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2083px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-1 {
    height: 855px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-2 {
    height: 935px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-3 {
    height: 870px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-4 {
    height: 926px;
    margin-bottom: 0;
  }

  .u-section-2 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-5 {
    height: 926px;
    width: 100%;
  }

  .u-section-2 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-6 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-6 {
    height: 926px;
    width: 100%;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-7 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-7 {
    height: 926px;
    width: 100%;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-8 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-8 {
    height: 926px;
    width: 100%;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-47 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-48 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-carousel-thumbnail-49 {
    width: 69px;
    height: 103px;
  }

  .u-section-2 .u-accordion-link-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-9 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-9 {
    height: 926px;
    width: 100%;
  }

  .u-section-2 .u-carousel-thumbnail-50 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-51 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-52 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-53 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-54 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-55 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-56 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-carousel-thumbnail-57 {
    width: 59px;
    height: 88px;
  }

  .u-section-2 .u-accordion-link-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-10 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-10 {
    height: 926px;
    width: 100%;
  }

  .u-section-2 .u-accordion-link-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-11 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-11 {
    height: 856px;
  }

  .u-section-2 .u-carousel-thumbnail-61 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-62 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-63 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-64 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-65 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-66 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-67 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-68 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-carousel-thumbnail-69 {
    width: 51px;
    height: 77px;
  }

  .u-section-2 .u-accordion-link-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-pane-12 {
    min-height: 868px;
  }

  .u-section-2 .u-gallery-12 {
    height: 927px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-1 {
    height: 527px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 25px;
    height: 38px;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-2 {
    height: 608px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-3 {
    height: 543px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-16 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-17 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-18 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 34px;
    height: 50px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-4 {
    height: 617px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-24 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-25 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-26 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-5 {
    height: 650px;
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-thumbnail-27 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-carousel-thumbnail-28 {
    width: 45px;
    height: 68px;
  }

  .u-section-2 .u-accordion-pane-6 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-6 {
    height: 563px;
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-thumbnail-29 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-30 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-31 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-32 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-33 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-34 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-35 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-accordion-pane-7 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-7 {
    height: 559px;
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-thumbnail-36 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-37 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-38 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-39 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-40 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-41 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-42 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-accordion-pane-8 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-8 {
    height: 563px;
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-thumbnail-43 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-44 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-45 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-46 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-47 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-48 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-carousel-thumbnail-49 {
    width: 6px;
    height: 9px;
  }

  .u-section-2 .u-accordion-pane-9 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-9 {
    height: 551px;
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-thumbnail-50 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-51 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-52 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-53 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-54 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-55 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-56 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-carousel-thumbnail-57 {
    width: 4px;
    height: 6px;
  }

  .u-section-2 .u-accordion-pane-10 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-10 {
    height: 649px;
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-thumbnail-58 {
    width: 27px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-59 {
    width: 27px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-60 {
    width: 27px;
    height: 40px;
  }

  .u-section-2 .u-accordion-pane-11 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-11 {
    height: 543px;
  }

  .u-section-2 .u-carousel-thumbnail-61 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-62 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-63 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-64 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-65 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-66 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-67 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-68 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-69 {
    width: 29px;
    height: 44px;
  }

  .u-section-2 .u-accordion-pane-12 {
    min-height: 613px;
  }

  .u-section-2 .u-gallery-12 {
    height: 613px;
  }

  .u-section-2 .u-carousel-thumbnail-70 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-71 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-72 {
    width: 78px;
    height: 116px;
  }

  .u-section-2 .u-carousel-thumbnail-73 {
    width: 78px;
    height: 116px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 701px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(75,47,238,0.5);
  width: 409px;
  margin: 10px 366px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 253px;
  margin: 25px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 800px;
  margin: 10px auto 17px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 578px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 266px;
    margin-right: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 156px;
    margin-right: 156px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 521px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 501px;
  margin: 15px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 800px;
  margin: 12px auto 52px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-4 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: normal;
  padding: 20px;
}

.u-section-4 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0 511px 0 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 291px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 91px;
  }
}